USE [master]
GO
/****** Object:  Database [prueba]    Script Date: 21/11/2021 2:10:42 p. m. ******/
CREATE DATABASE [prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prueba]
GO
/****** Object:  Table [dbo].[fruta]    Script Date: 21/11/2021 2:10:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fruta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Descripcion] [varchar](70) NULL,
	[fecha] [datetime] NULL,
	[Precio] [varchar](10) NULL,
 CONSTRAINT [PK_fruta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 21/11/2021 2:10:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[fruta] ON 

INSERT [dbo].[fruta] ([id], [Nombre], [Descripcion], [fecha], [Precio]) VALUES (1, N'mango', N'Prueba del producto con salto de linea1', CAST(N'2021-11-19T20:25:04.003' AS DateTime), N'5100')
INSERT [dbo].[fruta] ([id], [Nombre], [Descripcion], [fecha], [Precio]) VALUES (2, N'Pera', N'Esto es una descripción', CAST(N'2021-11-24T00:00:00.000' AS DateTime), N'6300')
SET IDENTITY_INSERT [dbo].[fruta] OFF
GO
ALTER TABLE [dbo].[fruta] ADD  CONSTRAINT [DF_fruta_fecha]  DEFAULT (getdate()) FOR [fecha]
GO
USE [master]
GO
